.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--purple);
    color: var(--white);
    height: 5rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.admin-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.admin-profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0.3rem var(--white);
    transition: all 0.3s ease-in-out;
}

.admin-profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.admin-profile-info h1 {
    font-size: 1.3rem;
    font-weight: 800;
}

.admin-profile-info h3 {
    font-size: 1rem;
}

.header-left-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white);
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    padding: 0.5rem;
    width: 20rem;
}

.search-box input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--purpleHard);
    font-size: 1rem;
}

.search-box input::placeholder {
    color: var(--purple);
}

.search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--purple);
    left: -4rem;
    top: 0;
    color: var(--white);
    border-radius: 0.5rem;
    outline: none;
    border: none;
    cursor: pointer;
    width: 3.5rem;
    height: 1.8rem;
    transition: all 0.3s ease-out;
}

.search-box button:hover {
    background-color: var(--purpleHard);
    border: 1px solid var(--purpleHard);
    color: var(--white);
}

.IoSearch {
    scale: 1.2;
    transition: all 0.3s ease-out;
}

.IoSearch:hover {
    transform: rotate(-25deg) scale(1.1);
}

.header-left-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border: none;
    outline: none;
    color: var(--purpleHard);
}

.header-left-icon:hover {
    background-color: var(--purpleHard);
    color: var(--white);
    border: 1px solid var(--purpleHard);
    box-shadow: 0 0 0.3rem var(--purpleHard);
    transform: scale(1.1);
    transform: rotate(45deg);
}

.CiBrightnessUp {
    scale: 1.2;
}